[user]
	name = Ryan Spletzer
	signingKey = 787AEF0BAE232359
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig.local
[alias]
	diffc = diff --color=always
	statusc = -c color.status=always status
