[user]
	name = Ryan Spletzer
	email = ryanspletzer@gmail.com
	signingKey = 787AEF0BAE232359
[init]
	defaultBranch = main
[push]
	default = current
	autoSetupRemote = true
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
