/*
!/.gitignore
!/.gitattributes
!/.vscode
/.vscode/*
!/.vscode/settings.json
!/.bashrc
!/.bash_profile
!/.config
/.config/*
!/.config/powershell
!/.config/fish
!/.gitconfig
!/.gitconfig.personal
!/.gitconfig.work
!/.hushlogin
!/.oh-my-posh
!/.profile
!/.zprofile
!/.zshenv
!/.zshrc
